{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "node": 8
        }
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "react-loadable/babel",
    "@babel/proposal-object-rest-spread",
    "@babel/proposal-class-properties",
    "@babel/syntax-dynamic-import"
  ]
}
